<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <form class="form">
                <div class="form-group">
                    <label for="sID">Sid</label>
                    <input type="text" name="" id="sID" class="form-control">
                </div>
                <div class="form-group">
                    <label for="sName">Name</label>
                    <input type="text" name="" id="sName" class="form-control">
                </div>
            </form>
        </div>
    </div>
</div>
